<div class="photo__add-comment-container">
    <textarea placeholder="Enter your comment..." class="photo__add-comment" [(ngModel)]="txtComment"
        (keyup.enter)="createComment();">
    </textarea>
    <i class="fa fa-ellipsis-h"></i>
</div>
<ul class="photo__comments">
    <app-comment *ngFor="let comment of story.comments" [comment]="comment" [idUser]="idUser"></app-comment>
</ul>
<div>
    <span class="load_more" (click)="loadComments(story._id)">Load more</span>
</div>