.photo__add-comment-container {
  position: relative;
}

.photo__add-comment-container i {
  position: absolute;
  top: 17px;
  right: 0;
}

.photo__add-comment {
  width: 97%;
  border: 0;
  resize: none;
  font-size: 14px;
  padding-top: 15px;
}

.photo__add-comment:focus {
  outline: none;
}

.photo__add-comment-container {
  padding-bottom: 25px;
}

.load_more {
  text-align: center;
  color: #3897f0;
  font-style: italic;
  padding-top: 15px;
  padding-left: 44%;
  cursor: pointer;
}
