<main class="feed">
    <div class="show_story_act">
        <button class="login__input login__input--btn"
                style="cursor: pointer;"
                (click)="addStory($event)" 
                *ngIf="!isAddStory"
                title="Add new story"
                >
                    <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
        </button>
    </div>
    <section class="photo" [style.display]="isAddStory ? 'inline': 'none'">
        <div class="photo__info" >
            <div class="photo__add-comment-container">
                <form [formGroup]="uploadForm" (ngSubmit)="createStory()" class="add_story" enctype="multipart/form-data">
                    <textarea placeholder="Add Content..."
                            class="photo__add-comment"
                            formControlName="content"
                            style="font-size: 16px" required>
                    </textarea>
                    <i class="fa fa-window-close"
                        (click)="closeSection($event)"
                        style="cursor: pointer;"
                        title="Close create form"
                        >
                    </i>
                    <br />
                    <ngx-dropzone (change)="onSelect($event)">
                        <ngx-dropzone-label>Drop Images</ngx-dropzone-label>
                        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f">
                          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>
                    <br/>
                    <div class="login__input-container">
                        <input
                            type="submit"
                            value="Add New Feed"
                            class="login__input login__input--btn"
                            style="cursor: pointer;"
                        />
                    </div>
                </form>
            </div>
        </div> 
    </section>
    
    <section class="photo" *ngFor="let story of stories">
        <app-story-item [story]="story" [idUser]="idUser"></app-story-item>
    </section>
</main>