.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.8%;
}

.story_content {
  font-weight: 600;
  display: block;
  font-style: italic;
  font-size: 18px;
  margin: 15px 15px 15px 15px;
}

.show_story_act {
  width: 42%;
}

.photo {
  width: 60%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  max-width: 800px;
  margin-bottom: 40px;
}

.photo__header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.photo__avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.photo__username {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.photo__file {
  max-width: 100%;
}

.photo__info {
  padding: 20px 20px 0 20px;
}

.photo__icons {
  margin-bottom: 10px;
  font-size: 18px;
}

.photo__icon:first-child {
  margin-right: 10px;
}

.photo__likes {
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.photo__comment {
  margin-bottom: 10px;
}

.photo__comment-author {
  font-weight: 600;
  margin-right: 5px;
}

.photo__time-ago {
  color: #999;
  text-transform: uppercase;
  font-size: 10px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
}

.photo__add-comment-container {
  position: relative;
}

.photo__add-comment-container i {
  position: absolute;
  top: 17px;
  right: 0;
}

.photo__add-comment {
  width: 97%;
  border: 0;
  resize: none;
  font-size: 14px;
  padding-top: 15px;
}

.photo__add-comment:focus {
  outline: none;
}

.heart-red {
  color: red;
}

.add_story .imagePreview img {
  width: 200px;
  height: 200px;
}

.photo__add-comment-container {
  padding-bottom: 25px;
}

.addStory {
  display: true;
}

.closeAddStory {
  display: none;
}

.login__input--btn{
  border:0;
  color:white;
  font-weight: 600;
  background-color: #3897F0;
  cursor: pointer;
  width: 100%;
  height: 35px;
  margin-bottom: 2%;
  margin-top: 1%;
}

.login__input-container {
  padding-bottom: 15px;
  font-size: 15px;
}