<li class="photo__comment" >
    <span class="photo__comment-author"
        (click)="navigateToProfile()"
        style="cursor: pointer;"
        title="View profile">
            <img src="http://localhost:3000/images/avatars/{{comment?.author?.avatar}}" width="20px" alt="">
            {{ comment?.author?.name }}:
    </span>
    {{ comment?.content }}
    <a (click)="likeComment(comment._id)" *ngIf="!liked" title="Click to like this comment">
        <img src="assets/images/likeComment.png" alt="Like Comment" style="cursor: pointer;" >
            <i *ngIf="comment?.fans?.length">- {{ comment?.fans?.length }} likes</i> 
    </a>
    <a (click)="dislikeComment(comment._id)" *ngIf="liked">
        <img src="assets/images/liked.png" alt="Liked Comment" style="cursor: pointer;">
            <i *ngIf="comment?.fans?.length"> - {{ comment?.fans?.length }} likes</i>
    </a>
</li>