.people__column a {
    margin-right: 10px
}
.people__person a {
    cursor: pointer;
}

.people__person .cancel {
    background-color: #ba554e;
}

.people__person .profile {
    all: unset;
    color: black;
    margin-left: 30%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    /* text-decoration: none; */
    box-shadow: 0 2px #45bab2;
}


.people__person{
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.people__person:last-child{
    border:none;
}

.people__avatar{
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

.people__column{
    display: flex;
    align-items:center; 
}

.people__info{
    margin-left:15px;
}

.people__username{
    display: flex;
    font-weight: 600;
    align-items: center;
    margin-bottom: 5px;
}

.people__username img{
    margin-left: 5px;
}

.people__full-name{
    color:#999;
}

.people__column a{
    background-color: #3897f0;
    padding:7px 13px;
    color:white;
    border-radius: 3px;
    font-weight: 600;
    transition: all .1s linear;
}

.people__column a:active{
    transform: scale(.95);
}

.people__username img{
    transition:all .3s linear;
}

.people__person:hover .people__username img{
    transform: rotate(1turn);
}