<li class="people__person">
    <div class="people__column">
        <div class="people__avatar-container">
            <img 
                src="http://localhost:3000/images/avatars/{{ user.avatar }}"
                class="people__avatar"
            />
        </div>
        <div class="people__info">
            <span class="people__username">{{ user.email }}</span>
            <span class="people__full-name">{{ user.name }}</span>
        </div>
        <a href="/profile?id={{ user._id }}" class="profile">profile</a>
    </div>
    <div class="people__column" *ngIf="type == 'friend'">
        <a (click)="removeFriend();" class="cancel">UnFollow</a>
    </div>

    <div class="people__column" *ngIf="type == 'sent'">
        <a (click)="cancelFriendRequest();" class="cancel">Cancel</a>
    </div>

    <div class="people__column" *ngIf="type == 'incoming'">
        <a (click)="acceptFriendRequest();">Accept</a>
        <a (click)="declineFriendRequest();" class="cancel">Decline</a>
    </div>
</li>