<header class="photo__header">
    <div class="photo__header-column">
        <a href="/profile?id={{story?.author?._id}}" title="Click to view profile">
            <img class="photo__avatar" src="http://localhost:3000/images/avatars/{{story.author.avatar}}"
                *ngIf="story?.author?.avatar" />
            <img class="photo__avatar" src="assets/images/avatar.jpg" *ngIf="!story?.author?.avatar" />
        </a>
    </div>
    <div class="photo__header-column">
        <a href="/profile?id={{story?.author?._id}}" title="Click to view profile">
            <span class="photo__username">
                {{ story?.author?.name }}
            </span>
        </a>
        <span class="photo__time-ago">{{ (story?.created_date || today) | date: 'medium' }}</span>
    </div>
    <div style="padding-left: 72%;" *ngIf="story?.author?._id == idUser">
        <a (click)="removeStory();" style="cursor: pointer;">
            <i class="fa fa-trash-o" aria-hidden="true" ></i>
        </a>
    </div>
    <div class="clear-fix"></div>
</header>
<div>
    <p class="story_content">{{ story?.content }}</p>
</div>
<div class="photo__file-container">
    <img class="photo__file" src="http://localhost:3000/images/story/{{story.image}}" *ngIf="story.image" />
    <img class="photo__file" src="assets/images/feedPhoto.jpg" *ngIf="!story.image" />
</div>
<div class="photo__info">
    <div class="photo__icons">
        <span class="photo__icon" >
            <a (click)="toggleLike();" *ngIf="!liked">
                <img width="25"
                src="assets/images/like.png"
                    style="cursor: pointer;"
                    title="Click to like story"
                />
            </a>
            <a (click)="toggleLike();" *ngIf="liked">
                <img width="25"
                    src="assets/images/likedStory.png"
                    style="cursor: pointer;"
                    title="Remove liked"
            />
            </a>
        </span>

        <span class="photo__icon" (click)="showComment();" style="cursor: pointer;" *ngIf="!commented">
            <img width="25" src="assets/images/comments.png"/>
        </span>
        <span class="photo__icon" (click)="showComment();" style="cursor: pointer;" *ngIf="commented">
            <img width="25" src="assets/images/commented.png"/>
        </span>
    </div>
    <span class="photo__likes">{{ story.fans.length }} likes | {{ story.commentNumber }} comments</span>
    <app-comment-list [story]="story" [idUser]="idUser"></app-comment-list>
</div>