<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__list">
            <li class="footer__list-item"><a routerLink="#" class="footer__link">about us</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">support</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">blog</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">press</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">api</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">jobs</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">privacy</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">terms</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">directory</a></li>
            <li class="footer__list-item"><a routerLink="#" class="footer__link">language</a></li>
        </ul>
    </nav>
    <span class="footer__copyright">© 2021 instagram</span>
</footer>