.messages li {
  padding-top: 15px;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.messages .chat_room {
  cursor: pointer;
}

.messages li .avatar {
  position: relative;
}
.messages li .avatar .avatar-image {
  position: relative;
  width: 40px;
  overflow: hidden;
  float: left;
  margin-right: 13px;
}
.messages li .avatar .status {
  height: 12px;
  width: 12px;
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-radius: 100%;
  border: 3px solid #ffffff;
}
.messages li .avatar img {
  width: 36px;
  border-radius: 100%;
  height: 36px;
}
.messages li:first-child {
  padding-top: 20px;
}
.messages li:last-child {
  padding-bottom: 20px;
}
.messages li p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.messages h3 {
  margin-bottom: 7px;
}
.messages p {
  margin-bottom: 0px;
  color: #9197a5;
}


.messages .search_input {
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid rgba(0,0,0,.0975);
  border-radius: 2px;
  width: 85%;
  text-align: center;
  height: 20px;
  font-style: italic;
  color: #a19f9f;
}