<div class="messages">
    <li>
        <div class="friend_search">
            <input type="text" placeholder="Search..." class="search_input">
        </div>
    </li>
    <li *ngFor="let room of rooms" (click)="openChatRoom();" class="chat_room">
        <div class="avatar">
            <div class="avatar-image">
                <div class="status online"></div><img src="http://localhost:3000/images/avatars/{{room.friendInfo?.avatar }}">
            </div>
        </div>
        <h3>{{ room.friendInfo?.name }}</h3>
        <p>Last message.</p>
    </li>
</div>