<app-header></app-header>

<main class="edit-profile">
    <section class="profile-form">
        <header class="profile-form__header">
            <div class="profile-form__avatar-container">
                <img src="http://localhost:3000/images/avatars/{{ user.avatar || ''}}" class="profile-form__avatar" *ngIf="user.avatar"/>
                <img src="assets/images/avatar.jpg" class="profile-form__avatar"  *ngIf="!user.avatar"/>
            </div>
            <h4 class="profile-form__title">{{ user.email }}</h4>
        </header>
        <form [formGroup]="profileGroup" (ngSubmit)="updateProfile();" class="edit-profile__form">
            <div class="edit-profile__form-row">
                <label for="name" class="edit-profile__label">Name
                </label>
                <input id="name" type="text" value="{{ user.name }}" class="edit-profile__input" readonly/>
            </div>
            <div class="edit-profile__form-row">
                <label for="password" class="edit-profile__label">
                    New Password
                </label>
                <input type="password" id="password" class="edit-profile__input" formControlName="newPassword"/>
            </div>
            <div class="edit-profile__form-row">
                <label for="birthday" class="edit-profile__label">
                    BirthDay
                </label>
                <input type="date" id="birthday" class="edit-profile__input" value="{{ user.birthday | date: 'yyyy-MM-dd' }}" formControlName="birthDay"/>
            </div>
            <div class="edit-profile__form-row">
                <label for="description" class="edit-profile__label">
                    Information
                </label>
                <textarea type="text" id="description" class="edit-profile__input" value="{{ user?.description }}" formControlName="description"></textarea>
            </div>
            <div class="edit-profile__form-row">
                <label for="avatar" class="edit-profile__label">
                    Avatar
                </label>
                <input type="file" id="avatar" class="edit-profile__input" (change)="onChangeImage($event);"/>
            </div>
            <div class="edit-profile__form-row">
                <label class="edit-profile__label"></label>
                <input type="submit" value="Update" >
            </div>
        </form>
    </section>
</main> 

<app-footer></app-footer>