<app-header></app-header>
<main class="profile-container">
    <section class="profile">
        <app-user-info [user]="activeUser" [idLogin]="userLogin?._id"></app-user-info>
        <app-user-story-list [stories]="activeUser?.stories"></app-user-story-list>
    </section>
</main>

<app-footer></app-footer>
