<div class="wrapper">
    <app-chat-header-info></app-chat-header-info>
    <main>
        <div class="col-left">
            <div class="col-content">
                <app-chat-rooms></app-chat-rooms>
            </div>
        </div>
        <div class="col">
            <div class="col-content">
                <app-chat-messages></app-chat-messages>
            </div>

            <i id="typing" [style.display]="(isStopTyping | async) ? 'none':'block'">{{ (typingMessageObj | async)?.message }}</i>
            <div class="col-foot">
                <div class="compose">
                    <input placeholder="Type a message"
                            [(ngModel)]="txtMessage"
                            (keyup)="stopTyping($event);"
                            (keyup.enter)="sentMessage();"
                            (keypress)="typing();">
                    <div class="compose-dock">
                        <div class="dock"><img src="assets/images/messenger/picture.svg"><img
                                src="assets/images/messenger/smile.svg"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-right">
            <div class="col-content">
                <div class="user-panel">
                    <div class="avatar">
                        <div class="avatar-image">
                            <div class="status online"></div><img src="assets/images/messenger/avatar.png">
                        </div>
                        <h3>Theresa Hudson</h3>
                        <p>London, United Kingdom</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>