* {
  outline: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  color: #3b414d;
  font-family: sans-serif;
  letter-spacing: 0.03em;
}
h3 {
  font-size: 15px;
  font-weight: 600;
}
p {
  font-size: 82%;
}
input::-webkit-input-placeholder {
  color: #cccccc;
}
input::-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder {
  color: #cccccc;
}
input:-moz-placeholder {
  color: #cccccc;
}
.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
header {
  -webkit-box-shadow: 0 0px 13px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0px 13px rgba(0, 0, 0, 0.06);
  -webkit-box-flex: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
}
.container {
  position: relative;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
header > div {
  z-index: 2;
  height: 70px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
}
header .middle {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
header .middle h3 {
  margin-bottom: 3px;
}
header .middle p {
  margin-bottom: 0px;
  color: #9197a5;
}
header .right {
  height: 70px;
  overflow: hidden;
  line-height: 70px;
  text-align: right;
  width: auto;
  float: right;
  position: relative;
}
header .avatar {
  margin-left: 15px;
  display: inline-block;
  float: right;
}
header .avatar img {
  vertical-align: middle;
  width: 30px;
  border-radius: 100%;
  height: 30px;
}
header .settings {
  display: inline-block;
  float: left;
  position: relative;
}
header .settings:after {
  content: "";
  background-color: #000;
  opacity: 0.2;
  height: 20px;
  width: 1px;
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block;
  margin-right: 25px;
}
header .username {
  display: inline-block;
  height: 70px;
  font-size: 14px;
  line-height: 72px;
  font-weight: 600;
}
header .username img {
  width: 16px;
  float: left;
  height: 70px;
  opacity: 0.5;
}
header .left {
  width: 130px;
  float: left;
  position: relative;
}
header .left img {
  display: inline-block;
  height: 70px;
  width: 100%;
}
.user-panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.online {
  background-color: #0182ff;
}
.offline {
  background-color: #d0d0d0;
}
.user-panel .avatar {
  text-align: center;
  position: relative;
}
.user-panel .avatar .avatar-image {
  position: relative;
  width: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.user-panel .avatar img {
  width: 60px;
  border-radius: 100%;
  height: 60px;
}
.user-panel .avatar .status {
  height: 16px;
  width: 16px;
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-radius: 100%;
  border: 4px solid #ffffff;
}
.user-panel p {
  color: #9197a5;
}
.user-panel h3 {
  margin-bottom: 7px;
}
main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 80px;
}
.col-left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.col-right {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: auto;
  /* height: 888px; */
  max-height: 888px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.col-content {
  -webkit-box-flex: 1;
  padding: 0px;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
}
.col-foot {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  float: bottom;
}
.wrapper-mobile {
  height: 100vh;
  display: none;
  position: relative;
  color: #9197a5;
  text-align: center;
  line-height: 22px;
}
.wrapper-mobile .mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.wrapper-mobile .mobile img {
  width: 54px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.compose {
  padding: 20px;
  position: relative;
  background-color: white;
}
.compose input {
  width: 89%;
  border: 0px;
  font-size: 17px;
  padding-right: 80px;
}
.compose .compose-dock .dock {
  position: absolute;
  right: 25px;
  top: 20px;
}
.compose .compose-dock img {
  width: 20px;
  margin-left: 12px;
  opacity: 0.2;
}
.compose .compose-dock img:hover {
  opacity: 0.5;
}
@media only screen and (max-width: 1250px) {
  .wrapper {
    display: none;
  }
  .wrapper-mobile {
    display: block;
  }
}

#typing {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #82807f;
    margin-bottom: 5px;
    text-align: center; 
}