<div class="profile__pictures">
    <a href="#" class="profile-picture" *ngFor="let story of stories">
        <img
            src="http://localhost:3000/images/story/{{story.image}}"
            class="profile-picture__picture"
            *ngIf="story.image"
        />
        <img
            src="assets/images/feedPhoto.jpg"
            class="profile-picture__picture"
            *ngIf="!story.image"
        />
        <div class="profile-picture__overlay">
            <span class="profile-picture__number">
                <i class="fa fa-heart"></i> {{ story.fans.length }} 
            </span>
            <span class="profile-picture__number">
                <i class="fa fa-comment"></i> {{ story.comments.length }}
            </span>
        </div>
    </a>
</div>