<main class="login">
    <div class="login__column">
        <img 
            src="assets/images/phone.png"
            alt="Phone Image"
            title="Phone Image"
            class="login__phone-image"
        />                
    </div>
    <section class="login__column">
        <div class="login__section login__sign-in">
            <img 
                src="assets/images/logo.png"
                alt="Logo"
                title="Logo"
                class="login__logo"
            />
            <!-- x   -->
            <form  (ngSubmit)="signIn();" [formGroup]="formSignIn" class="login__form form-group">
                <div class="login__input-container">
                    <input 
                        type="text"
                        name="email"
                        placeholder="Email"
                        required
                        class="login__input"
                        formControlName="email"
                    />
                </div>
                <div class="login__input-container">
                    <input 
                        type="password"
                        name="password"
                        placeholder="Password"
                        required
                        class="login__input"
                        formControlName="password"
                    />
                    <a href="#" class="login__form-link" style="font-size: 12px;">Forgot?</a>
                </div>
                <span *ngIf="isError" style="color: red">Account is wrong</span>
                <div class="login__input-container">
                    <input
                        type="submit"
                        value="Log in"
                        class="login__input login__input--btn"
                    />
                </div>
            </form>
            <span class="login__divider">or</span>
            <a class="login__fb-link" href="#">
                <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Log in with Facebook
            </a>
        </div>
        <div class="login__section login__sign-up">
            <span class="login__text">
                Don't have an account? 
                <a href="/register" class="login__link">
                    Sign up
                </a>
            </span>
        </div>
        <div class="login__section login__section--transparent login__app">
            <span class="login__text">
                Get the app.
            </span>
            <div class="login__appstores">
                <img 
                    src="assets/images/ios.png"
                    alt="iOS"
                    title="Get the app!"
                    class="login__appstore" 
                />
                <img 
                    src="assets/images/android.png"
                    alt="Android"
                    title="Get the app!"
                    class="login__appstore" 
                />
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>