<nav class="navigation">
    <a routerLink="/">
        <img src="assets/images/navLogo.png" alt="logo" title="logo" class="navigation__logo" />
    </a>
    <div class="navigation__search-container">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Search">
    </div>
    <div class="navigation__icons">
        <a routerLink="/friends" class="navigation__link" title="Friends">
            <img src="assets/images/friends.png" alt="" width="30px">
        </a>
        <a href="/messenger" class="navigation__link" title="Messengers">
            <img src="assets/images/messenger.png" alt="" width="30px">
        </a>
        <a routerLink="/profile" class="navigation__link" title="Profile">
            <img src="assets/images/user.png" alt="" width="30px">
        </a>
    </div>
</nav>