header {
  -webkit-box-shadow: 0 0px 13px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0px 13px rgba(0, 0, 0, 0.06);
  -webkit-box-flex: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  background-color: white;
}
.container {
  position: relative;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
header > div {
  z-index: 2;
  height: 80px;
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
}
header .middle {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
header .middle h3 {
  margin-bottom: 3px;
}
header .middle p {
  margin-bottom: 0px;
  color: #9197a5;
}
header .right {
  height: 70px;
  overflow: hidden;
  line-height: 70px;
  text-align: right;
  width: auto;
  float: right;
  position: relative;
}
header .avatar {
  margin-left: 15px;
  display: inline-block;
  float: right;
}
header .avatar img {
  vertical-align: middle;
  width: 30px;
  border-radius: 100%;
  height: 30px;
}
header .settings {
  display: inline-block;
  float: left;
  position: relative;
}
header .settings:after {
  content: "";
  background-color: #000;
  opacity: 0.2;
  height: 20px;
  width: 1px;
  margin-top: 25px;
  margin-left: 25px;
  display: inline-block;
  margin-right: 25px;
}
header .username {
  display: inline-block;
  height: 70px;
  font-size: 14px;
  line-height: 72px;
  font-weight: 600;
}
header .username img {
  width: 16px;
  float: left;
  height: 70px;
  opacity: 0.5;
}
header .left {
  width: 130px;
  float: left;
  position: relative;
}
header .left img {
  display: inline-block;
  margin-top: 15px;
  margin-left: 30px;
}
