<header>
    <div class="container">
        <div class="left"><a routerLink="/"><img src="assets/images/navLogo.png"></a></div>
        <div class="middle">
            <h3>trang thuy</h3>
            <p> <img width="12px" src="assets/images/messenger/online.png" alt=""> online</p>
        </div>
        <div class="right">
            <div class="username">
                <div class="settings"><img src="assets/images/messenger/settings.svg"></div>{{ user?.name }}
            </div>
            <div class="avatar"><img src="http://localhost:3000/images/avatars/{{ user.avatar }}" *ngIf="user?.avatar"></div>
        </div>
    </div>
</header>