<header class="profile__header">
    <div class="profile__avatar-container">
        <img src="http://localhost:3000/images/avatars/{{ user.avatar || ''}}" class="profile__avatar" *ngIf="user?.avatar"/>
        <img src="assets/images/avatar.jpg" class="profile__avatar"  *ngIf="!user?.avatar"/>
    </div>
    <div class="profile__info">
        <div class="profile__name">
            <h1 class="profile__title">{{ user?.name || '' }}</h1>
            <a routerLink="/profile/edit"
                class="profile__button u-fat-text"
                [style.display]="user?._id == idLogin ? 'block' : 'none'">
                Edit profile
            </a> 
            <a (click)="addFriend();"
                class="profile__button u-fat-text"
                [style.display]="displayAddFriendBtn"
                style="color: #4c809e">
                    Add Friend
            </a>
            <a (click)="createChatRoom();"
                [style.display]="displayRemoveFriendBtn">
                    <i class="fa fa-comments-o fa-lg" > . </i>
            </a>
            <a (click)="removeFriend();"
                class="profile__button u-fat-text"
                [style.display]="displayRemoveFriendBtn"
                style="color: #a16845;">
                    UnFriend
            </a>
            <a (click)="acceptRequest();"
                class="profile__button u-fat-text"
                [style.display]="displayFriendRequestBtn"
                style="color: #4c809e">
                    Accept Request
            </a>
            <a (click)="declineRequest();"
                class="profile__button u-fat-text"
                [style.display]="displayFriendRequestBtn"
                style="color: #a16845">
                    Decline Request
            </a>
            <a (click)="cancelSentRequest();"
                class="profile__button u-fat-text"
                [style.display]="cancelSentRequestBtn"
                style="color: #a16845">
                    Cancel Request
            </a>
            <a (click)="logOut();"
                [style.display]="user?._id == idLogin ? 'block' : 'none'" style="cursor: pointer;">
                    <i class="fa fa-sign-out fa-lg" id="cog" title="LogOut"></i>
            </a>
        </div>
        <ul class="profile__numbers">
            <li class="profile__posts">
                <span class="profile__number u-fat-text">{{ (user?.stories || []).length }}</span> posts
            </li>
            <li class="profile__followers">
                <span class="profile__number u-fat-text">{{ (user?.friends || []).length }}</span> followers
            </li>
            <li class="profile__following">
                <span class="profile__number u-fat-text">{{ (user?.friends || []).length }}</span> following
            </li>
        </ul>
        <div class="profile__bio">
            <span class="profile__full-name u-fat-text">{{ user?.name || '' }}</span>
            <p class="profile__full-bio"> {{ user?.description || '' }}.</p>
            <a routerLink="" class="profile__link u-fat-text"> {{ user?.email }}</a>
        </div>
    </div>
</header>