<main class="login">
    <div class="login__column">
        <img 
            src="assets/images/phone.png"
            alt="Phone Image"
            title="Phone Image"
            class="login__phone-image"
        />                
    </div>
    <section class="login__column">
        <div class="login__section login__sign-in">
            <img 
                src="assets/images/logo.png"
                alt="Logo"
                title="Logo"
                class="login__logo"
            />
            <!-- x   -->
            <form  (ngSubmit)="signUp();" [formGroup]="formSignUp" class="login__form form-group">
                <div class="login__input-container">
                    <input 
                        type="text"
                        name="firstName"
                        placeholder="First Name"
                        required
                        class="login__input"
                        formControlName="firstName"
                    />
                </div>
                <div class="login__input-container">
                    <input 
                        type="text"
                        name="lastName"
                        placeholder="Last Name"
                        required
                        class="login__input"
                        formControlName="lastName"
                    />
                </div>
                <div class="login__input-container">
                    <input 
                        type="text"
                        name="email"
                        placeholder="Email"
                        required
                        class="login__input"
                        formControlName="email"
                    />
                </div>
                <div class="login__input-container">
                    <input 
                        type="password"
                        name="password"
                        placeholder="Password"
                        required
                        class="login__input"
                        formControlName="password"
                    />
                </div>
                <div class="login__input-container">
                    <input 
                        type="date"
                        name="birthDay"
                        placeholder="Birth Day"
                        required
                        class="login__input"
                        formControlName="birthDay"
                    />
                </div>

                <div class="login__input-container">
                    <input
                        type="submit"
                        value="Register"
                        class="login__input login__input--btn"
                    />
                </div>
            </form>
            <span class="login__divider">or</span>
            <a class="login__fb-link" href="#">
                <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> Log in with Facebook
            </a>
        </div>
        <div class="login__section login__sign-up">
            <span class="login__text">
                <a href="#" class="login__link">
                    Login
                </a>
                with other account.
            </span>
        </div>
        <div class="login__section login__section--transparent login__app">
            <span class="login__text">
                Get the app.
            </span>
            <div class="login__appstores">
                <img 
                    src="assets/images/ios.png"
                    alt="iOS"
                    title="Get the app!"
                    class="login__appstore" 
                />
                <img 
                    src="assets/images/android.png"
                    alt="Android"
                    title="Get the app!"
                    class="login__appstore" 
                />
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>