.explore h1 {
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkcyan;
    font-style: italic;
}

.explore {
    padding-top: 5%;
}

.people{
    width:60%;
    border-radius: 3px;
    background-color: white;
    border:1px solid rgba(0,0,0,.0975);
    margin:0 auto;
    max-width: 1000px;
}