<app-header></app-header>
<main class="explore">
    <h1>Sent Requests</h1>
    <section class="people">
        <ul class="people__list">
            <app-friend-item *ngFor="let friend of people?.sentRequests" [user]="friend" [type]="type.sentRequest"></app-friend-item>
        </ul>
    </section>

    <h1>Incoming Requests</h1>
    <section class="people">
        
        <ul class="people__list">
            <app-friend-item *ngFor="let friend of people?.incomingRequests" [user]="friend" [type]="type.incomingRequest"></app-friend-item>
        </ul>
    </section>

    <h1>Friends</h1>
    <section class="people">
        <ul class="people__list">
            <app-friend-item *ngFor="let friend of people?.friends" [user]="friend" [type]="type.friend"></app-friend-item>
        </ul>
    </section>

    
</main>

<app-footer></app-footer>