.message-sent,
.message-received {
  clear: both;
  position: relative;
}
.message-sent::before,
.message-received::before,
.message-sent::after,
.message-received::after {
  content: "";
  display: table;
}

.message-sent,
.message-received {
  clear: both;
  position: relative;
}
.message-sent::before,
.message-received::before,
.message-sent::after,
.message-received::after {
  content: "";
  display: table;
}
[class^="grid-"] {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.grid-message > [class^="col-"] {
  margin-top: 1em;
  margin-right: 1em;
}
.grid-message > [class^="col-"]:nth-child(-n + 1) {
  margin-top: 0;
}
.grid-message > [class^="col-"]:nth-child(1n) {
  margin-right: 0;
}
.col-message-sent {
  margin-left: calc(8.33333333% + 0.08333333em) !important;
}
.col-message-received {
  margin-right: calc(8.33333333% + 0.08333333em) !important;
}
.col-message-sent,
.col-message-received {
  width: calc(91.66666667% - 0.08235677em);
}
.message-sent,
.message-received {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 0.5em 0.6em;
}
.message-sent p,
.message-received p {
  margin: 0;
  line-height: 1.5;
}
.message-sent {
  float: right;
  color: white;
  background-color: #0181ff;
  border-radius: 0.5em 0.25em 0.25em 0.5em;
}
.message-sent:first-child {
  border-radius: 0.5em 0.5em 0.25em 0.5em;
}
.message-sent:last-child {
  border-radius: 0.25em 0.25em 0.5em 0.5em;
}
.message-sent:only-child {
  border-radius: 0.5em;
}
.message-received {
  float: left;
  color: black;
  background-color: #e6e6e6;
  border-radius: 0.25em 0.5em 0.5em 0.25em;
}
.message-received:first-child {
  border-radius: 0.5em 0.5em 0.5em 0.25em;
  margin-top: 0px;
}
.message-received:last-child {
  border-radius: 0.25em 0.5em 0.5em 0.5em;
}
.message-received:only-child {
  border-radius: 0.5em;
}
.col-message-sent,
.col-message-received {
  margin-top: 0.25em !important;
}
.message {
  min-height: 53.33203125em;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 20px;
  height: 60%
}