<section class="message">
    <div class="grid-message">
        <div class="col-message-received">
            <div class="message-received">
                <p>Ok.</p>
            </div>
            <div class="message-received">
                <p>Do you play EVE Online?</p>
            </div>
        </div>

        <div class="col-message-received">
            <div class="message-received" *ngFor="let message of messages | async">
                <p>{{ message }}</p>
            </div>
        </div>

        <!-- <div class="col-message-sent">
            <div class="message-sent">
                <p>Not anymore.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">

                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>Niiiiice.</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <div class="">
                    <p>Do you care if I use the last few minutes of our conversation as dummy text for
                        this thing I'm coding?</p>
                </div>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>Sure go ahead.</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>Okay.</p>
            </div>
            <div class="message-sent">
                <p>I'll send you some ISK when I'm done.</p>
            </div>
            <div class="message-sent">
                <p>It's cool.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>Ok.</p>
            </div>
            <div class="message-received">
                <p>Do you play EVE Online?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>Not anymore.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>I guess if I had some practice I could again. It's been years.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>I guess if I had some practice I could again. It's been years.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>I guess if I had some practice I could again. It's been years.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>I guess if I had some practice I could again. It's been years.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>I guess if I had some practice I could again. It's been years.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>I guess if I had some practice I could again. It's been years.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>I guess if I had some practice I could again. It's been years.</p>
            </div>
        </div>
        <div class="col-message-received">
            <div class="message-received">
                <p>But, can you?</p>
            </div>
        </div>
        <div class="col-message-sent">
            <div class="message-sent">
                <p>I guess if I had some practice I could again. It's been years.</p>
            </div>
        </div> -->
        
    </div>
</section>